@use 'styles/variables' as *;
@use 'styles/elements/control' as *;

$button-sizes: $sizes;
$button-transition: color 0.2s ease-out, background 0.2s ease-out;

.button {
  @extend %control;
  background-color: $color-gray-lightest;
  cursor: pointer;
  text-align: center;
  transition: $button-transition;
  vertical-align: middle;
  white-space: nowrap;
}

@each $name, $size in $button-sizes {
  .size-#{$name} {
    font-size: $size;
  }
}

.color-primary {
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-primary-light;
  }

  &:active {
    background-color: $color-primary-dark;
  }
}

.color-secondary {
  background-color: $color-secondary;
  color: $color-white;

  &:hover {
    background-color: $color-secondary-light;
  }

  &:active {
    background-color: $color-secondary-dark;
  }
}

.color-success {
  background-color: $color-success;
  color: $color-white;

  &:hover {
    background-color: $color-success-light;
  }

  &:active {
    background-color: $color-success-dark;
  }
}

.color-warning {
  background-color: $color-warning;

  &:hover {
    background-color: $color-warning-light;
  }

  &:active {
    background-color: $color-warning-dark;
  }
}

.color-danger {
  background-color: $color-danger;
  color: $color-white;

  &:hover {
    background-color: $color-danger-light;
  }

  &:active {
    background-color: $color-danger-dark;
  }
}

.color-gray {
  background-color: $color-gray;
  color: $color-white;

  &:hover {
    background-color: $color-gray-light;
  }

  &:active {
    background-color: $color-gray-dark;
  }
}
