:root {
  --color-blue-60: #0f62fe;
  --color-gray-10: #f2f4f8;
  --color-gray-20: #dde1E6;

  --color-primary: var(--color-blue-60);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
