@use './variables' as *;

.header {
  composes: block from './block.css';
  background-color: $color-gray-lightest;
}

.inner {
  composes: container from './container.css';
  display: flex;
  flex-direction: column;
  padding: 8em 0;
}

.title {
  display: block;
  margin: 0 0 0.25em 0;
  font-size: $size-2 * 2;
  font-weight: $weight-bold;
}

.description {
  display: block;
  max-width: 800px;
  margin: 0;
  font-size: $size-3;
  font-weight: $weight-normal;
}
